

{% extends "stuc/base.html" %}
{% load static %}
{% block title %}
Home
{% endblock title %}
{% block content %}
<style type="text/css">
  h1 {
    background: -webkit-linear-gradient(#09a2de, #3ad6cb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px #333;
  }
</style>
<div class="container">
  <div class="row">


  </div>
  <div class="row">
    <div class="col my-5">
      <img src="{% static 'images/stuc.jpg' %}" class="img-fluid" alt="Image1" width="40%" height="50%" style="border:10px;border-radius:20px">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <figure class="text-center">
        <blockquote class="blockquote">
          <p>      eLearning, or electronic learning, is the delivery of learning and 
            training through digital resources. Although eLearning is based on formalized 
            learning, it is provided through electronic devices such as computers, tablets 
            and even cellular phones that are connected to the internet.
          </p>
        </blockquote>
        <figcaption class="blockquote-footer">
          By <cite title="Source Title">Satish</cite>
        </figcaption>
      </figure>
    </div>
  </div>
</div>



{% endblock content %}
